<%- include('./components/header') %>
    <h2>Todos los autos</h2>
    <% if(message) {%>
      <h3><%= message %></h3>
    <% } %>
    <ul style='list-style-type: none;'>
      <% for(auto of autos) {%>
        <li>
          <h3><%= auto.modelo %></h3>
          <a href="/autos/<%= auto.marca %>"><p><%= auto.marca %></p></a>
          <p><%= auto.anio %></p>
          <img src="<%= auto.img %>" alt="" width='200'>
        </li>
        <hr>
      <%}%>
    </ul>

  </body>
</html>
